.ficha {
    cursor: pointer;
    text-align:center;
    font-size: 400%;
    width: 100%;
  }
.dorso-ficha{

  background-color: rgb(119, 0, 231);
  border: 3px solid rgb(45, 0, 243);
}

.cara-ficha{
  background-color: rgb(235, 252, 0);
  border: 3px solid rgb(243, 0, 0);
}

.ficha:hover {
    transform: scale(0.95);
}

