.ficha {
    display: inline-block;
    font-size: 55px;
  }
.dorso-ficha{
  cursor: pointer;
  text-align:center;
  line-height: 125px;
  width: 125px;
  height: 125px;
  margin: 5px;
  background-color: rgb(119, 0, 231);
  border: 3px solid rgb(13, 17, 247);
}

.cara-ficha{
  cursor: pointer;
  text-align:center;
  line-height: 125px;
  width: 125px;
  height: 125px;
  margin: 5px;
  background-color: rgb(235, 252, 0);
  border: 3px solid rgb(243, 117, 0);
}

.ficha:hover {
    transform: scale(0.95);
}

