.title{
    position: relative;
    font-size: 50px;
    color: rgb(245, 210, 12);
    left: 425px;
    bottom: 200px;
}

.reload-button{
    background-color: rgb(70, 0, 128);
    color:rgb(0, 247, 74)
}